
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Merchandise Tracking</h1>
      </div>
    </div>
    <div class="row iphone">

        <% if defined? error_message %>
          <p class="bg-danger"><%= error_message %></p>
        <% end %>
        <form action="/" method="POST">
          <div class="form-group">
            <label for="name">Name of Supplier</label>
            <input type="text" class="form-control" name="nameofsupplier" id="nameofsupplier">
          </div>
          <div class="form-group">
            <label for="country">Country</label>
            <input type="text" class="form-control" name="country" id="country">
          </div>
          <div class="form-group">
            <label for="name">Website Address</label>
            <input type="text" class="form-control" name="webadd" id="webadd">
          </div>
          <div class="form-group">
            <label for="text">Email Addresses</label>
            <input type="text" class="form-control" name="emailadd" id="emailadd" placeholder="Email 1">
            <input type="text" class="form-control" name="emailadd2" id="emailadd2" placeholder="Email 2">
          </div>
          <div class="form-group">
            <label for="text">Contact Numbers</label>
            <input type="text" class="form-control" name="contactnum1" id="contactnum1">
            <input type="text" class="form-control" name="contactnum2" id="contactnum2">
          </div>
          <div class="form-group">
            <label for="text">Contact Person</label>
            <input type="text" class="form-control" name="contactperson" id="contactperson">
          </div>
          <!-- <div class="form-group">
            <label for="text">Product Category</label>
            <input type="text" class="form-control" name="productcat" id="productcat">
          </div> -->


          <div class="form-group">
              <label for="text">Product Category</label>
              <select multiple class="form-control" name="productcat" id="productcat">
                <option>Arts & Craft</option>
                <option>Board Game & Card</option>
                <option>Book</option>
                <option>Digital & Technology (e.g : Pendrive, Power Bank, Charger, Cable, Speaker, Mouse & etc)</option>
                <option>Furniture</option>
                <option>Gift & Souvenir (e.g : Tie Pin, Bottle Opener, Keychain, Music Instruments, Ornaments & etc)</option>
                <option>Keychain</option>
                <option>Electronic Item & Kitchen Appliance</option>
                <option>Lanyard</option>
                <option>Laser Pointer</option>
                <option>Metal & Light</option>
                <option>Pen</option>
                <option>Printing & Laminating</option>
                <option>Puzzle & Building Kit</option>
                <option>Rubik</option>
                <option>Safety Vest</option>
                <option>Stationeries</option>
                <option>Umbrella</option>
                <option>Various</option>
              </select>

              <div class="form-check form-check-inline">
                <label class="form-check-label" for="productcat">Other: </label>
                <input type="text" class="form-control" name="productcat">
              </div>

          </div>

        <!-- <div class="form-group">
         <label for="exampleFormControlSelect2">Product Category</label>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" name="productcat" id="productcat">
              <label class="form-check-label" for="productcat">
                Bag (e.g : Woven Bag, Cotton Bag, Cart, Trolley & etc)
              </label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Board Game & Card" id="productcat">
            <label class="form-check-label" for="productcat">
              Board Game & Card
            </label>
          </div> -->

          <!--<div class="form-check">
            <input class="form-check-input" type="checkbox" value="Board Game & Card" id="productcat">
            <label class="form-check-label" for="productcat">
              Board Game & Card
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Bottle & Mug" id="productcat">
            <label class="form-check-label" for="productcat">
              Bottle & Mug (e.g : Tumbler, Thermo Flask & etc)
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Book" id="productcat">
            <label class="form-check-label" for="productcat">
              Book
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Box" id="productcat">
            <label class="form-check-label" for="productcat">
              Box (e.g : Packaging, Storage boxes & etc)
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Digital & Technology" id="productcat">
            <label class="form-check-label" for="productcat">
              Digital & Technology (e.g : Pendrive, Power Bank, Charger, Cable, Speaker, Mouse & etc)
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Fabric" id="productcat">
            <label class="form-check-label" for="productcat">
              Fabric (e.g : Cap, T-Shirt & etc)
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Furniture" id="productcat">
            <label class="form-check-label" for="productcat">
              Furniture
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Keychain" id="productcat">
            <label class="form-check-label" for="productcat">
              Keychain
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Lanyard" id="productcat">
            <label class="form-check-label" for="productcat">
              Lanyard
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Laser Pointer" id="productcat">
            <label class="form-check-label" for="productcat">
              Laser Pointer
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Metal & Light" id="productcat">
            <label class="form-check-label" for="productcat">
              Metal & Light
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Pen" id="productcat">
            <label class="form-check-label" for="productcat">
              Pen
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Metal & Light" id="productcat">
            <label class="form-check-label" for="productcat">
              Metal & Light
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Printing & Laminating" id="productcat">
            <label class="form-check-label" for="productcat">
              Printing & Laminating
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Puzzle & Building Kit" id="productcat">
            <label class="form-check-label" for="productcat">
              Puzzle & Building Kit
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Rubik" id="productcat">
            <label class="form-check-label" for="productcat">
              Rubik
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Safety Vest" id="productcat">
            <label class="form-check-label" for="productcat">
              Safety Vest
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Umbrella" id="productcat">
            <label class="form-check-label" for="productcat">
              Umbrella
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Various" id="productcat">
            <label class="form-check-label" for="productcat">
              Various
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Other" id="productcat">
            <label class="form-check-label" for="productcat">
              Other
            </label>
          </div> -->

        <div>
         <label for="businesscard" style="margin-right: 20px">Businesscard</label>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="businesscard" id="businesscard" value="Yes">
            <label class="form-check-label" for="businesscard">Yes</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="businesscard" id="businesscard" value="No">
            <label class="form-check-label" for="businesscard">No</label>
          </div>
        </div>


        <div class="form-group">
         <label for="brochurecat" style="margin-right: 20px">Brochure/Catalogue</label>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="brochurecat" id="brochurecat" value="Yes">
            <label class="form-check-label" for="brochurecat">Yes</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="brochurecat" id="brochurecat" value="No">
            <label class="form-check-label" for="brochurecat">No</label>
          </div>
        </div>

        <div>
          <p>Product Lead & Shipping Time</p>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="productleadshiptime" id="productleadshiptime" value="7 Days">
            <label class="form-check-label" for="productleadshiptime">7 Days</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="productleadshiptime" id="productleadshiptime" value="14 Days">
            <label class="form-check-label" for="productleadshiptime">14 Days</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="productleadshiptime" id="productleadshiptime" value="30 Days">
            <label class="form-check-label" for="productleadshiptime">30 Days</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="productleadshiptime" id="productleadshiptime" value="60 Days">
            <label class="form-check-label" for="productleadshiptime">60 Days</label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label" for="productleadshiptime">Other: </label>
            <input type="text" class="form-control" name="productleadsheip">
          </div>
        </div>

<br>
          <b>Shipping Method</b>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="shippingmethod" value="Air">
            <label class="form-check-label" for="shippingmethod">Air</label>
          </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="shippingmethod" value="Sea">
              <label class="form-check-label" for="shippingmethod">Sea</label>
            </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="shippingmethod" value="Others">
                  <label class="form-check-label" for="productleadshiptime">Other: </label>
                  <input type="text" class="form-control" name="OtherShippingTime" placeholder="Please indicate" style="margin-left: 20px">
                </div>

                <br>
                    <div class="form-group">
                      <label for="shippingcost">Shipping Cost</label>
                      <input type="text" class="form-control" name="shippingcost" placeholder="Shipping Cost">
                    </div>

          <div class="form-group">
            <label for="text">Small Order Numbers</label>
            <input type="text" class="form-control" name="smallordernum">
          </div>
          <div class="form-group">
            <label for="text">Unit Price for Small Order</label>
            <input type="text" class="form-control" name="unitpriceforsmallorder">
          </div>
          <div class="form-group">
            <label for="text">Bulk order</label>
            <input type="text" class="form-control" name="bulkorder">
          </div>
          <div class="form-group">
            <label for="text">Unit Price for Bulk Order</label>
            <input type="text" class="form-control" name="unitpriceforbulkorder">
          </div>

          <div class="form-group">
           <label for="businesscard" style="margin-right: 20px">Product Sample (Provided)?</label>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="productsample" id="productsample" value="Yes">
              <label class="form-check-label" for="businesscard">Yes</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="productsample" id="productsample" value="No">
              <label class="form-check-label" for="businesscard">No</label>
            </div>
          </div>
          <div class="form-group">
            <label for="text">If Yes, how much the sampling cost including shipment?</label>
            <input type="text" class="form-control" name="sampling cost" id="samplingcost">
          </div>

          <div class="form-group">
            <label for="text">Payment Terms? (e.g : 30% / 70%)</label>
            <input type="text" class="form-control" name="Payment Terms" id="paymentTerms">
          </div>
          <div class="form-group">
            <label for="text">Practical for which company?</label>
            <input type="text" class="form-control" name="Practical for which company?" id="PracticalComp">
          </div>
          <div class="form-group">
            <label for="text">What are the pros and cons?</label>
            <input type="text" class="form-control" name="Pros & Cons" id="ProsCons">
          </div>


          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
  </div>
</div>
