<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Thanks!</h1>
        <p> Click below for a new input</p>
        <a href="/" class="btn btn-primary">Submit</a>
      </div>

    </div>
          <br>
  </div>
</div>
